{% extends "base.html" %}
{% load staticfiles %}

{% block nav_home_active %}active{% endblock %}

{% block title %}
    我的网站|登录
{% endblock title %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock header_extends %}

{% block content %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <span>用户名：</span>
        <input type="text" name="username">
        <span>密码：</span>
        <input type="password" name="password">
        <input type="submit" value="登录">
    </form>
{% endblock content %}