* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 70px!important;
}

ul {
    list-style: none;
}

ul.navbar-right {
    margin-right: 20px;
}

ul.dropdown-menu {
    min-width: 100px;
}
/* div.nav{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;

}
div.nav a{
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
}
div.nav a.logo {
    display: inline-block;
} */