<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ blog_type.type_name }} </title>
</head>

<body>
    <div>
        <a href="{% url 'home' %}">
            <h3>个人博客网站</h3>
        </a>
    </div>
    <hr>

    <h3>{{ blog_type.type_name }}</h3>
    {% for blog in blogs %}
    <a href="{% url 'blog_detail' blog.pk %}">
        <h3>{{ blog.title }}</h3>
    </a>
    <p>作者： {{ blog.author }}</p>
    <p>发布日期： {{ blog.created_time|date:'Y-m-d H:i:s' }} </p>
    <p>分类： 
        <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
            {{ blog.blog_type }}  
        </a> 
    </p>
    <p>{{ blog.content|truncatechars:30 }}</p>
    {% empty %}
        <p>--- 暂无博客，敬请期待 ---</p>
    {% endfor %}
</body>

</html>