{% extends "base.html" %}

{# 页面标题 #}
{% block title %}
个人博客网站
{% endblock title %}

{% block nav_blog_active%}active{% endblock%}

{% block content %}
    <hr>
    <p>一共有 {{ blogs|length }} 篇博客 </p>
    {% comment %} {{ blogs_count }} {% endcomment %}

    {% for blog in blogs %}
    <a href="{% url 'blog_detail' blog.pk %}">
        <h3>{{ blog.title }}</h3>
    </a>
    <p>作者： {{ blog.author }}</p>
    <p>发布日期： {{ blog.created_time|date:'Y-m-d H:i:s' }} </p>
    <p>分类： {{ blog.blog_type }}  </p>
    <p>{{ blog.content|truncatechars:30 }}</p>
    {% empty %}
        <p>--- 暂无博客，敬请期待 ---</p>
    {% endfor %}
{% endblock content %}

