{% extends "form.html" %}

{% block other_buttons %}
    <button id="send_code" class="btn btn-primary">发送验证码</button>
{% endblock other_buttons %}

{% block script_extends %}
<script type="text/javascript">
    $('#send_code').click(function(){
        var email = $('#id_email').val(); // 拿到用户填的邮箱的 值
        if(email == ''){
            $('#tip').text('* 邮箱不能为空')
            return false;
        }

        // ajax 异步发送验证码
        $.ajax({
            url: "{% url 'send_verification_code' %}",
            type: 'GET',
            data: {
                'email': email,
                'send_for': 'bind_email_code',
            },
            cache: false,
            success: function(data){
                if(data['status'] == 'ERROR'){
                    alert(data['status']);
                }
            }
        });
        // 把按钮变灰
        $(this).addClass('disabled');
        $(this).attr('disabled', true);
        var time = 60;
        $(this).text(time + 's 后重新发送');
        var interval = setInterval(() => {
            if(time <= 0){
                clearInterval(interval);
                $(this).removeClass('disabled');
                $(this).attr('disabled', false);
                $(this).text('发送验证码');
                return false;
            }
            time --;
            $(this).text(time + 's 后重新发送');
        }, 1000);
    });
</script>
{% endblock script_extends %}